@page "/cart"

<PageTitle>Index</PageTitle>
<body id="page-top">
<header class="masthead">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-4">
                <h2>Krepšelis</h2>
            </div>
        </div>
    </div>
</header>
<section class="h-100 h-custom" style="background-color: #eee;">
<div class="container py-5 h-100">
<div class="row d-flex justify-content-center align-items-center h-100">
<div class="col">
<div class="card">
<div class="card-body p-4">

<div class="row">

<div class="col-lg-7">
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div>
                        <img
                            alt="Shopping item"
                            class="img-fluid rounded-3"
                            src="https://5.imimg.com/data5/RA/MR/YY/SELLER-58086244/3-feet-pine-wooden-plank-500x500.jpg"
                            style="width: 65px;">
                    </div>
                    <div class="ms-3">
                        <h5>Lentos</h5>
                        <p class="small mb-0">Lenta</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <div style="width: 50px;">
                        <button class="fw-normal mb-0">-</button>
                    </div>
                    <div style="width: 50px;">
                        <h5 class="fw-normal mb-0">2</h5>
                    </div>
                    <div style="width: 50px;">
                        <button class="fw-normal mb-0">+</button>
                    </div>
                    <div style="width: 80px;">
                        <h5 class="mb-0">€900</h5>
                    </div>
                    <a href="#!" style="color: #cecece;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div>
                        <img
                            alt="Shopping item"
                            class="img-fluid rounded-3"
                            src="https://cdn.shopify.com/s/files/1/0010/8458/8093/products/black-pvc-pipe-schedule-40-4051660701757_1000x1000.jpg?v=1586375329"
                            style="width: 65px;">
                    </div>
                    <div class="ms-3">
                        <h5>Didelis vamzdis</h5>
                        <p class="small mb-0">Juodas</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <div style="width: 50px;">
                        <button class="fw-normal mb-0">-</button>
                    </div>
                    <div style="width: 50px;">
                        <h5 class="fw-normal mb-0">2</h5>
                    </div>
                    <div style="width: 50px;">
                        <button class="fw-normal mb-0">+</button>
                    </div>
                    <div style="width: 80px;">
                        <h5 class="mb-0">€900</h5>
                    </div>
                    <a href="#!" style="color: #cecece;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div>
                        <img
                            alt="Shopping item"
                            class="img-fluid rounded-3"
                            src="https://materialdistrict.com/wp-content/uploads/2016/03/the-impact-of-white-on-a-sustainable-built-environment-02.jpg"
                            style="width: 65px;">
                    </div>
                    <div class="ms-3">
                        <h5>Stogas</h5>
                        <p class="small mb-0">Baltas</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <div style="width: 50px;">
                        <button class="fw-normal mb-0">-</button>
                    </div>
                    <div style="width: 50px;">
                        <h5 class="fw-normal mb-0">1</h5>
                    </div>
                    <div style="width: 50px;">
                        <button class="fw-normal mb-0">+</button>
                    </div>
                    <div style="width: 80px;">
                        <h5 class="mb-0">€1199</h5>
                    </div>
                    <a href="#!" style="color: #cecece;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mb-lg-0">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div>
                        <img
                            alt="Shopping item"
                            class="img-fluid rounded-3"
                            src="https://thumbs.dreamstime.com/b/blue-screwdriver-15653383.jpg"
                            style="width: 65px;">
                    </div>
                    <div class="ms-3">
                        <h5>Atsuktuvas</h5>
                        <p class="small mb-0">Mėlynas</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <div style="width: 50px;">
                        <button class="fw-normal mb-0">-</button>
                    </div>
                    <div style="width: 50px;">
                        <h5 class="fw-normal mb-0">1</h5>
                    </div>
                    <div style="width: 50px;">
                        <button class="fw-normal mb-0">+</button>
                    </div>
                    <div style="width: 80px;">
                        <h5 class="mb-0">€1799</h5>
                    </div>
                    <a href="#!" style="color: #cecece;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <p class="mb-0">Jūs turite 4 skirtingas prekes krepšelyje</p>
        </div>
    </div>
    <hr>
    <h5 class="mb-3">
        <a class="text-body" href="#!">
            <i
                class="fas fa-long-arrow-alt-left me-2">
            </i>Tęsti apsipirkimą
        </a>
    </h5>

</div>
<div class="col-lg-5">
    <div class="card bg-primary text-white rounded-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="mb-0">Mokėjimo informacija</h5>
                <img alt="Avatar"
                     class="img-fluid rounded-3"
                     src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                     style="width: 45px;">
            </div>

            <form class="mt-4">
                <div class="form-outline form-white mb-4">
                    <input class="form-control form-control-lg" id="typeName"
                           placeholder="Vardas"
                           size="17"
                           type="text"/>
                    <label class="form-label" for="typeName">Vardas</label>
                </div>

                <div class="form-outline form-white mb-4">
                    <input class="form-control form-control-lg" id="typeText" maxlength="19"
                           minlength="19"
                           placeholder="1234 5678 9012 3457" size="17" type="text"/>
                    <label class="form-label" for="typeText">Kortelės Nr.</label>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-outline form-white">
                            <input class="form-control form-control-lg" id="typeExp"
                                   maxlength="7" minlength="7" placeholder="MM/YYYY"
                                   size="7"
                                   type="text"/>
                            <label class="form-label" for="typeExp">Galiojimo data</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-outline form-white">
                            <input class="form-control form-control-lg" id="typeText"
                                   maxlength="3"
                                   minlength="3" placeholder="&#9679;&#9679;&#9679;"
                                   size="1" type="password"/>
                            <label class="form-label" for="typeText">CSC/CVV</label>
                        </div>
                    </div>
                </div>
            </form>

            <hr class="my-4">

            <div class="d-flex justify-content-between">
                <p class="mb-2">Iš viso:</p>
                <p class="mb-2">€4818.00</p>
            </div>

            <button class="btn btn-info btn-block btn-lg" type="button">
                <div class="d-flex justify-content-between">
                    <span>Sumokėti <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                </div>
            </button>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</body>
