@page "/form"

<PageTitle>Index</PageTitle>
<body id="page-top">
<header class="masthead">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-4">
                <h2>Algos forma</h2>
            </div>
        </div>
    </div>
</header>
<section class="h-100 h-custom" style="background-color: #eee;">
<div class="container py-5 h-100">
<div class="row d-flex justify-content-center align-items-center h-100">
<div class="col">
<div class="card">
<div class="card-body p-4">


                                    <div class="row">
                                        <div class="col">
                                            <!-- Name input -->
                                            <div class="form-outline">
                                                <input type="text" id="form8Example1" class="form-control" />
                                                <label class="form-label" for="form8Example1">Vardas</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <!-- Email input -->
                                            <div class="form-outline">
                                                <input type="email" id="form8Example2" class="form-control" />
                                                <label class="form-label" for="form8Example2">Kodas</label>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="row">
                                        <div class="col">
                                            <!-- Name input -->
                                            <div class="form-outline">
                                                <input type="text" id="form8Example3" class="form-control" />
                                                <label class="form-label" for="form8Example3">Pavarde</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <!-- Name input -->
                                            <div class="form-outline">
                                                <input type="text" id="form8Example4" class="form-control" />
                                                <label class="form-label" for="form8Example4">Stažas</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <!-- Email input -->
                                            <div class="form-outline">
                                                <input type="email" id="form8Example5" class="form-control" />
                                                <label class="form-label" for="form8Example5">Indeksas</label>
                                            </div>
                                        </div>
                                            <button class="btn btn-info btn-block btn-lg" type="button">
                                                <div class="d-flex justify-content-between">
                                                    <a href="WorkerList">
                                                        <span>Gauti algos priedą <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                     </a>
                                                    
                                                </div>
                                            </button>

                                    </div>
</div>
</div>
</div>
</div>
</div>

</section>
</body>
