@page "/Login"

<PageTitle>Prisijungimas</PageTitle>
<body id="page-top">
<form class="col-8 container ">
    <!-- Email input -->
    <div class="form-outline mb-4 align-items-center">
        <input type="email" id="form2Example1" class="form-control"/>
        <label class="form-label" for="form2Example1">El.pašto adresas</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control"/>
        <label class="form-label" for="form2Example2">Slaptažodis</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked/>
                <label class="form-check-label" for="form2Example31">Išsaugoti duomenis</label>
            </div>
        </div>

        <div class="col">
            <!-- Simple link -->
            <a href="#!">Pamiršote slaptažodį?</a>
        </div>
    </div>

    <!-- Submit button -->
        <a class="btn btn-outline-dark mt-auto" href="#!">Prisijungti</a>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Neturite paskyros? <a href="#!">Registruotis</a></p>
    </div>
</form>
</body>
