@page "/prodlist"

<PageTitle>Sandėlis</PageTitle>
<body id="page-top">
<!-- Section-->
<h1>Sandėlis</h1>
<table class="table">
    <thead>
    <tr>
        <th>Prekė</th>
        <th>Kiekis</th>
        <th>Aprašymas</th>
        <th>Prekės kodas</th>
        <th>Redagavimas</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Vamzdis</td>
        <td>
            <button>-</button>
            5
            <button>+</button>
        </td>
        <td>Geras</td>
        <td>RT-55901</td>
        <td>
            <button>Redaguoti</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
