@page "/prodlist"

<PageTitle>Index</PageTitle>
<body id="page-top">
    
    <!-- Section-->
 
    <h1>Sandelys</h1>


    
     <table class="table">
          <thead>
                <tr>
                    <th>Preke</th>
                <th>
                    Kiekis
                    
                </th>
                    <th>Aprasymas</th>
                    <th>Prekės kodas</th>
                    <th>Redagavimas</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                        <td>Vamzdis</td>
                        <td>
                        <button>-</button>

                            5
                   
                        <button>+</button>
                        </td>
                        <td>Geras</td>
                        <td>RT-55901</td>
                        <td><button>Redaguoti</button></td>
                  </tr>
                
            </tbody>
        </table>
    

    







</body>
