@page "/workerlist"

<PageTitle>Darbuotojų sąrašas</PageTitle>
<body id="page-top">

<!-- Section-->

<h1>Darbuotojai</h1>
<table class="table">
    <thead>
    <tr>
        <th>Vardas</th>
        <th>Pavardė</th>
        <th>Užimama pozicija</th>
        <th>Darbuotojo kodas</th>
        <th>Algos priedas</th>
        <th>Redagavimas</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Robis</td>
        <td>Bobis</td>
        <td>Sandėlininkas</td>
        <td>RT-55901</td>
        <td>
            <a href="form" class="btn">
                    Skaičiuoti algos priedą
            </a>
            
        </td>
        <td>
            <button class="mr-1">Redaguoti</button>
            <button class="ml-2">Pašalinti</button>
        </td>
    </tr>
    </tbody>
</table>
<form class="mt-5">
    <div class="mb-3">
        <label class="form-label" for="exampleInputEmail1">Vardas</label>
        <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" type="email">
    </div>
    <div class="mb-3">
        <label class="form-label" for="exampleInputPassword1">Pavardė</label>
        <input class="form-control" id="exampleInputPassword1" type="password">
    </div>
    <div class="mb-3">
        <label class="form-label" for="exampleInputPassword1">Pozicija</label>
        <input class="form-control" id="exampleInputPassword1" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Pridėti</button>
</form>
</body>
