@page "/workerlist"

<PageTitle>Index</PageTitle>
<body id="page-top">
    
    <!-- Section-->
 
    <h1>Darbuotojai</h1>


    
     <table class="table">
          <thead>
                <tr>
                    <th>Vardas</th>
                <th>
                    Pavardė
                    
                </th>
                    <th>Užimama pozicija</th>
                    <th>Darbuotojo kodas</th>
                   
                <th>Algos priedas</th>
                <th>Redagavimas</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                        <td>Robis</td>
                        <td>Bobis</td>
                        <td>Sandelininkas</td>
                        <td>RT-55901</td>
                        <td><button>Skaičiuoti algos priedą</button></td>
                <td><button class="mr-1">Redaguoti</button> <button class="ml-2">Pašalinti</button></td>
                  </tr>
                
            </tbody>
     </table>
    <form class="mt-5">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Vardas</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Pavardė</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Pozicija</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Pridėti</button>
    </form>
    

    







</body>
